.App {
  text-align: center;
  background-color: #61dafb;
}
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav ul{
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: flex;
  margin-right: 2rem;
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.topnav ul li a{
  margin-right: 2rem;
  text-decoration: none;
  color: white;
  font-size: 23px;
  font-weight: bold;

}
/* Change the color of links on hover */
.topnav a:hover {
  
  color: rgb(77, 174, 108);
  margin-right: 2rem;
  
}

/* Add a color to the active/current link */
nav .topnav ul li a.active {
  background-color: #363938;
  color: rgb(13, 13, 13);
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


